.ellipse-container:hover .ellipse-svg ellipse {
  fill: #e1e1e1;
  border-width: "20px";
}

.ellipse-container .ellipse-svg ellipse {
  fill: white;
}

.ellipse-container .ellipse-link {
  color: black;
}

.ellipse-container:hover .ellipse-link {
  color: black;
}
